<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
  <a class="navbar-brand" href="#">Scraper</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/saved">Saved articles</a>
      <a class="btn btn-info scrape-new">Get new articles</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="text-muted">Get the latest Tech News</h1>
 
</div>

<div class="container article-container">
  <h3>Articles</h3>
  {{#each articles}}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <hr>
        <a href="{{link}}" class="card-link" target="_blank">View article </a>
        <p class="card-text">{{summary}}...</p>
        <a data-articleId="{{_id}}" class="btn btn-primary save-btn">Save article</a>
      </div>
    </div>
  {{/each}}
</div>