
      body { background-color:white}
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    h3{
      font-family: cursive
    }
    .card-body,.jumbotron{
      background: white;
    }
    .jumbotron{
      height: 100px;
    }
    .maincontainer{
      background-color: whitesmoke
    }